<div class="user-info row">
  <div class="col-xs-12 col-sm-4">
    <h2><%= t(".title", resource: resource_class.model_name.human) %></h2>
    <% if @user.photo? %>
      <%= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill %>
    <% elsif @user.facebook_picture_url? %>
      <%= cl_image_tag @user.facebook_picture_url, height: 300, width: 400, crop: :fill %>
    <% end %>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :photo, as: :attachinary, label: false %>
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>
            <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %>
          </p>
        <% end %>
        <%= f.input :address %>
        <%= f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, t(".update"), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="user-description">
      <h3>your description</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to t("devise.shared.links.back"), :back %>

<h3><%= t(".cancel_my_account") %></h3>

<p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>
