<div class="col-xs-4">
  <%= link_to entry_path(entry) do %>
  <div class="card col-xs-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
   url('<%= cl_image_path entry.product.photo.path, crop: :fill %>'); height: 20vh; background-position: center; background-size: cover; border-radius: 2%; padding:10px;margin-right: 10px;margin-bottom: 10px; border: 1px solid rgba(0,0,0,.1)!important;">
      <!-- this is primary info for a card -->
    <div class="caption col-xs-12" style="display: inline-flex">
      <div class="caption-title" style="font-size: 25px;color: white"><%= entry.quantity %> <%= entry.product.translated_name %></div>
    </div>
  <% end %>
    <div class="action-icons hidden">
      <%= link_to edit_entry_path(entry) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
      <!-- create transaction button -->
      <%= link_to new_transaction_path(proposed_product_id: entry.product.id, proposed_product_quantity: entry.quantity) do %>
        <i class="fa fa-exchange" ></i>
      <% end %>
      <!-- delete entry button -->
      <%= link_to entry, method: :delete do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
  </div>
</div>

