<%= simple_form_for(@entry, remote: remote) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <% if I18n.locale == :ja %>
      <%= f.association :product, label_method: :name_ja %>
    <% elsif I18n.locale == :da %>
      <%= f.association :product, label_method: :name_da %>
    <% elsif I18n.locale == :ar %>
      <%= f.association :product, label_method: :name_ar %>
    <% elsif I18n.locale == :fr %>
      <%= f.association :product, label_method: :name_fr %>
    <% else %>
      <%= f.association :product %>
    <% end %>
    <%= f.input :quantity, collection: (1..10) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>
