<%= simple_form_for(@entry, remote: remote, method: :post) do |f| %>
  <%= f.error_notification %>

  <tr>
  <!-- <div class="form-inputs"> -->
    <td>
    <%= f.input :quantity, collection: (1..10), label: false %>
  <!-- </div> -->
    </td>
    <td>
    <% if I18n.locale == :ja %>
      <%= f.association :product, label_method: :name_ja, label: false %>
    <% elsif I18n.locale == :da %>
      <%= f.association :product, label_method: :name_da, label: false %>
    <% elsif I18n.locale == :ar %>
      <%= f.association :product, label_method: :name_ar, label: false %>
    <% elsif I18n.locale == :fr %>
      <%= f.association :product, label_method: :name_fr, label: false %>
    <% else %>
      <%= f.association :product, label: false %>
    <% end %>
    </td>
    <td style="text-align:center; align-items: center">
  <!-- <div class="form-actions"> -->
    <%= f.button :submit, 'add_circle_outline', class: "material-icons plus-button" %>
  <!-- </div> -->
    </td>

  </tr>

<% end %>
