<% transactions.each do |t| %>
    <div class="col-xs-12 col-sm-6">
        <div class="one-card">
          <div class="nav-item">
            <div class="thumbnail" style="height: 280px">
              <%= link_to transaction_path(t) do %>
                <div style="padding-top: 9px">
                  <div class="col-xs-12" style="margin-bottom: 9px" >
                    <div class="col-xs-3">
                    <% if t.proposed_by_user.facebook_picture_url %>
                      <%= cl_image_tag(t.proposed_by_user.facebook_picture_url, { size: '50x50', crop: :thumb, gravity: :face , class: "avatar-large"} ) %>
                    <% else %>
                      <% avatar_url = "AirbarterLogo.png" %>
                      <%= image_tag avatar_url, size: "50x50" %>
                    <% end %>
                    </div>
                    <div class="col-xs-9">
                      <div class="article-info">
                        <h7><%= t.proposed_by_user.first_name %></h7>
                        <p><small><%= t.created_at.strftime("%d %b. %Y") %></small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- this is thubnail image -->
                <% if t.photos? %>
                  <%= cl_image_tag(t.photos.first.path, size: '400x140', crop: :fill) %>
                <% elsif t.proposed_product.photo? %>
                  <%= cl_image_tag(t.proposed_product.photo.path, size: '400x140', crop: :fill) %>
                <% end %>
                <!-- this is primary info for a card -->
                <div class="caption col-xs-12" style="display: inline-flex">
                  <div style="font-size: 20px"><span class="delete-margin">
                  <%= t.proposed_product_quantity %> <%= t.proposed_product.name %></span> </div>
                </div>
                <!-- this is sub continent for a card -->
                <div class="card-description col-xs-12" style="color: grey; font-size: 14px">
                  <p>In exchange for : <strong><%= t.wanted_product_quantity %> <%= t.wanted_product.translated_name %></strong></p>
                  <%= t.description[0..20] + "..." %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
  </div>
<% end %>
