<h3><%= t('.title') %></h3>

<div class="content">
  <div class="cards-container">
    <div class="row">
      <%= render 'shared/entries-card', entries: @my_entries %>
    </div>
  </div>
  <div id="map", style="overflow: hidden;">

  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:right"><%= t('activerecord.attributes.entry.quantity') %></th>
      <th><%= t('activerecord.attributes.entry.product') %></th>
      <th colspan="3" style="text-align:center"><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody id="appended_table">
    <% @my_entries.each do |entry| %>
      <%= render 'index-element-table', entry: entry %>
    <% end %>
  </tbody>
</table>

<% if policy(Entry).new? %>
  <%= render 'form', entry: @entry, remote: true %>
<% end %>

<br>

<h3><%= t('.title_other') %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.entry.user') %></th>
      <th style="text-align:right"><%= t('activerecord.attributes.entry.quantity') %></th>
      <th><%= t('activerecord.attributes.entry.product') %></th>
    </tr>
  </thead>

  <tbody>
    <% @other_entries.each do |entry| %>

      <tr>
        <% if entry.user.first_name %>
          <td><%= entry.user.first_name %> <%= entry.user.last_name %></td>
        <% else %>
          <td><%= entry.user.email %></td>
        <% end %>
        <td style="text-align:right"><%= entry.quantity %></td>
        <td><%= entry.product.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
