<!--   <% @my_entries.each do |entry| %>
    <%= render 'shared/circle', entry:entry %>
  <% end %>
 -->
<!-- this is cards layout -->
<div class="my-entries-cards col-xs-12">
  <h3><%= t('.title') %></h3>
  <% @my_entries.each do |entry| %>
    <%= render 'card', entry:entry %>
  <% end %>
</div>
<!-- this line below is previous -->
<table class="table" style="background-color: #F4F4F4/*; margin-bottom:0px !important*/;">
  <thead>
    <tr>
      <th style="text-align:right"><%= t('activerecord.attributes.entry.quantity') %></th>
      <th><%= t('activerecord.attributes.entry.product') %></th>
      <th colspan="3" style="text-align:center"><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody id="appended_table">
    <% @my_entries.each do |entry| %>
      <%= render 'index-element-table', entry: entry %>
    <% end %>
  </tbody>
  <tbody>

    <% if policy(Entry).new? %>
      <%= render 'form', entry: @entry, remote: true %>
    <% end %>

  </tbody>
</table>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.card').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    });
  <% end %>
<% end %>
