<h1>Entry</h1>
<p>
  <strong>User:</strong>
  <%= @entry.user.email %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @entry.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @entry.product.name %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Entries', entries_path %>
