<h1><%= t('activerecord.models.entry.one') %></h1>
<p>
  <strong><%= t('activerecord.attributes.entry.user') %>:</strong>
  <%= @entry.user.email %> <br>
  <%= @entry.user.first_name %> <%= @entry.user.last_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.entry.quantity') %>:</strong>
  <%= @entry.quantity %>
</p>

<p>
  <strong><%= t('activerecord.attributes.entry.product') %>:</strong>
  <%= @entry.product.translated_name %>
</p>

<%= link_to t('activerecord.models.entry.other'), entries_path, class: "btn btn-success" %>

<% if policy(@entry).edit? %>
  <%= link_to t('.edit'), edit_entry_path(@entry), class: "btn btn-primary" %>
<% end %>

<% if policy(@entry).destroy? %>
  <%= link_to t('helpers.submit.entry.destroy'), @entry, method: :delete, data: { confirm: t('.delete_confirmation') }, class: "btn btn-danger" %>
<% end %>
<% if @entry.photo? %>
  <%= cl_image_tag(@entry.photo.path, {size: '100x50'}) %>
<% end %>
