
<div class="navbar-wagon <%= "bg-black" if controller_name == "transactions" && action_name == "index" %> <%= "bg-black-light" if controller_name != "pages" %>">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-wagon-item">
      <%= simple_form_for "", url: transactions_path, method: "get" do |f| %>
        <span><i class="fa fa-search"></i></span>
        <%= f.input :search, label: false, placeholder: "Search transactions" %>
      <% end %>
    </div>

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <!-- Moved into dropdown menu -->
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

        <a href="#" class="dropdown-toggle navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language" style="font-size: 24px; border-top: 10px; color: white;"></i><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to new_current_path("en", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".english", default: "English") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("ja", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".japanese", default: "Japanese") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("da", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".danish", default: "Danish") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("ar", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".arabic", default: "Arabic") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("fr", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".french", default: "French") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div  class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = "AirbarterLogo.png" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", size: "50x50", style: "filter: invert(100%)" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".home", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to  transactions_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fa fa-exchange"></i> <%= t(".transactions", default: "Transactions") %>
              <% end %>
            </li>
            <li>
              <%= link_to entries_path, class: "navbar-wagon-item navbar-wagon-link" do %>
              <i class="fa fa-dashboard"></i> <%= t(".inventory", default: "My Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Edit Registeration") %>
              <% end %>
            </li>
            <li>
              <%= link_to products_path do %>
                <i class="fa fa-book"></i> <%= t(".products", default: "Products")  %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

        <a href="#" class="dropdown-toggle navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language" style="font-size: 24px; border-top: 10px;"></i><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to new_current_path("en", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".english", default: "English") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("ja", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".japanese", default: "Japanese") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("da", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".danish", default: "Danish") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("ar", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".arabic", default: "Arabic") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_current_path("fr", request.fullpath) do %>
                <i class="fa fa-language"></i> <%= t(".french", default: "French") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(".transactions", default: "Transactions"), transactions_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".inventory", default: "My Inventory"), entries_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".products", default: "Products"), products_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".english", default: "English"), new_current_path("en", request.fullpath), class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".japanese", default: "Japanese"), new_current_path("ja", request.fullpath), class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".danish", default: "Danish"), new_current_path("da", request.fullpath), class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".arabic", default: "Arabic"), new_current_path("ar", request.fullpath), class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".french", default: "French"), new_current_path("fr", request.fullpath), class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>
</div>
