<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%# @transaction.errors.inspect %>

  <div class="form-inputs">
    <%= f.input :proposed_product_quantity %>
    <%= f.association :proposed_product, collection: (1..10) %>
    <%= f.input :wanted_product_quantity %>
    <%= f.association :wanted_product, collection: (1..10) %>

    <%# f.association :proposed_by_user %>
    <%# f.input :accepted_by_user %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
