<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if I18n.locale == :ja %>
      <%= f.association :wanted_product, label_method: :name_ja %>
    <% elsif I18n.locale == :da %>
      <%= f.association :wanted_product, label_method: :name_da %>
    <% elsif I18n.locale == :ar %>
      <%= f.association :wanted_product, label_method: :name_ar %>
    <% elsif I18n.locale == :fr %>
      <%= f.association :wanted_product, label_method: :name_fr %>
    <% else %>
      <%= f.association :wanted_product %>
    <% end %>
    <%= f.input :wanted_product_quantity, collection: (1..10) %>
    <% if I18n.locale == :ja %>
      <%= f.association :proposed_product, label_method: :name_ja %>
    <% elsif I18n.locale == :da %>
      <%= f.association :proposed_product, label_method: :name_da %>
    <% elsif I18n.locale == :ar %>
      <%= f.association :proposed_product, label_method: :name_ar %>
    <% elsif I18n.locale == :fr %>
      <%= f.association :proposed_product, label_method: :name_fr %>
    <% else %>
      <%= f.association :proposed_product %>
    <% end %>

    <%= f.input :proposed_product_quantity, collection: (1..10) %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photos, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
