<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%# @transaction.errors.inspect %>

  <div class="form-inputs">
    <%= f.input :proposed_product_quantity %>
    <%= f.association :proposed_product %>
    <%= f.input :address %>
    <%= f.input :wanted_product_quantity %>
    <%= f.association :wanted_product %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
