<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%# @transaction.errors.inspect %>

  <div class="form-inputs">

    <%= f.association :wanted_product, label: "What do you want?" %>
    <%= f.input :wanted_product_quantity, collection: (1..10), :label => "How many?" %>
    <%= f.association :proposed_product, label: "What can you exchange?" %>
    <%= f.input :proposed_product_quantity, collection: (1..10), :label => "How many?" %>
    <%= f.input :address %>
    <%= f.input :photos, as: :attachinary %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
