<strong><%= link_to t('activerecord.models.transaction.one'), transaction %></strong>
<p>
  Proposes: <%= transaction.proposed_product_quantity %> <%= transaction.proposed_product.translated_name %>
<br>
  <%= t('transactions.index.in_exchange_for') %>: <%= transaction.wanted_product_quantity %> <%= transaction.wanted_product.translated_name %>
<br>
  <%= t('activerecords.attributes.transactions.status') %>: <%= transaction.status %>
</p>
