<strong><%= link_to 'Transaction', transaction %></strong>
<p>
  Proposes: <%= transaction.proposed_product_quantity %> <%= transaction.proposed_product.name %>
<br>
  in exchange for: <%= transaction.wanted_product_quantity %> <%= transaction.wanted_product.name %>
<br>
  Status: <%= transaction.status %>
</p>
