<br>
<div id="map" style="width: 100%; height: 600px;"></div>
<h3>Proposed Transactions</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @proposed_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction.proposed_product %></td>
        <td><%= transaction.proposed_by_user.first_name %> <%= transaction.proposed_by_user.last_name %></td>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= link_to transaction.wanted_product.name, transaction.wanted_product %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to "Remove", change_status_transaction_path(transaction, status: :removed), method: :patch %></td>
        <td><%= link_to "Accept", change_status_transaction_path(transaction, status: :accepted), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Propose New Transaction', new_transaction_path, class: "btn btn-success" %>


<h3>Accepted Transactions</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th>Accepted by user</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accepted_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction.proposed_product %></td>
        <td><%= transaction.proposed_by_user.first_name %></td>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= link_to transaction.wanted_product.name, transaction.wanted_product %></td>
        <td><%= transaction.accepted_by_user.email %></td>
        <!-- <td><%# link_to 'Show', transaction %></td> -->
        <!-- <td><%# link_to 'Edit', edit_transaction_path(transaction) %></td> -->
        <td><%= link_to "Remove", change_status_transaction_path(transaction, status: :removed), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Removed Transactions</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th>Accepted by user</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @removed_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction.proposed_product %></td>
        <td><%= transaction.proposed_by_user.first_name %></td>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= link_to transaction.wanted_product.name, transaction.wanted_product %></td>
        <td><%= transaction.accepted_by_user.email %></td>
        <!-- <td><%# link_to 'Show', transaction %></td> -->
        <!-- <td><%# link_to 'Edit', edit_transaction_path(transaction) %></td> -->
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
