<br>
<div id="map" style="width: 100%; height: 600px;"></div>
<h3>Proposed Transactions</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @proposed_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td><%= transaction.proposed_by_user.first_name %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.name %></td>

        <% if policy(transaction).accept? %>
          <% if @entries.select{ |e| e.product == transaction.wanted_product } != [] && transaction.wanted_product_quantity <= @entries.select{ |e| e.product == transaction.wanted_product }.first.quantity %>
            <td><%= link_to "Accept", accept_transaction_path(transaction, status: :accepted), method: :patch, class: "btn btn-primary" %></td>
          <% else %>
            <td>Not in inventory</td>
          <% end %>
        <% elsif policy(transaction).edit? %>
          <td><%= link_to 'Edit', edit_transaction_path(transaction), class: "btn btn-primary" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Propose New Transaction', new_transaction_path, class: "btn btn-success" %>

<h3>Accepted Transactions</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th>Accepted by user</th>
    </tr>
  </thead>

  <tbody>
    <% @accepted_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td><%= transaction.proposed_by_user.first_name %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.name %></td>
        <% if transaction.accepted_by_user.first_name %>
          <td><%= transaction.accepted_by_user.first_name %> <%= transaction.accepted_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.accepted_by_user.email %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Removed Transactions</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Proposed product</th>
      <th>Proposed by user</th>
      <th colspan="2">Wanted product</th>
      <th>Accepted by user</th>
    </tr>
  </thead>

  <tbody>
    <% @removed_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td><%= transaction.proposed_by_user.first_name %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.name %></td>
        <% if transaction.accepted_by_user %>
          <td><%= transaction.accepted_by_user.email %></td>
        <% else %>
          <td>
            <% if policy(transaction).change_status? %>
              <%= link_to 'Propose Again', change_status_transaction_path(transaction, status: :proposed), method: :patch, class: "btn btn-primary" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
