<div class="content">
  <!-- content has a set of cards and map -->
  <div class="row" style="width: 60vw">
    <div class="col-xs-12">
      <!-- This is tab section -->
      <ul class="nav nav-tabs">
        <br>
        <li class="nav-item">
          <a href="#transactions" class="nav-link active" role="tab" data-toggle="tab">All</a>
        </li>
        <li class="nav-item">
          <a href="#proposed_transactions" class="nav-link" role="tab" data-toggle="tab">Proposed</a>
        </li>
        <li class="nav-item">
          <a href="#accepted_transactions" class="nav-link" role="tab" data-toggle="tab">Accepted</a>
        </li>
        <li class="nav-item">
          <a href="#removed_transactions" class="nav-link" role="tab" data-toggle="tab">Removed</a>
        </li>
      </ul>
    </div>
    <!-- this is tab contents section -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="transactions">
      <br>
        <div class="cards-holder">
            <%= render 'transaction', transactions:@transactions %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="proposed_transactions">
        <div class="cards-holder">
            <%= render 'transaction', transactions:@proposed_transactions %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="accepted_transactions">
        <div class="cards-holder">
            <%= render 'transaction', transactions:@accepted_transactions %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="removed_transactions">
        <div class="cards-holder">
            <%= render 'transaction', transactions:@removed_transactions %>
        </div>
      </div>
    </div>
  </div>
    <!-- render map -->
  <div id="map" style="position: relative; width: 40vw"></div>
</div>
<!-- <h3><%= t('.title.proposed') %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= t('activerecord.attributes.transaction.proposed_product') %></th>
      <th><%= t('activerecord.attributes.transaction.proposed_by_user') %></th>
      <th colspan="2"><%= t('activerecord.attributes.transaction.wanted_product') %></th>
      <th colspan="2" style="text-align:center"><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @proposed_transactions.each do |transaction| %>
      <tr>
        <td align="right"><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.translated_name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td><%= link_to transaction.proposed_by_user.first_name, user_show_path(transaction.proposed_by_user) %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td align="right"><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.translated_name %></td>

        <% if policy(transaction).accept? %>
          <% if @entries.select{ |e| e.product == transaction.wanted_product } != [] && transaction.wanted_product_quantity <= @entries.select{ |e| e.product == transaction.wanted_product }.first.quantity %>
            <td style="text-align:center"><%= link_to t('.accept'), accept_transaction_path(transaction, status: :accepted), method: :patch, class: "btn btn-primary" %></td>
          <% else %>
            <td style="text-align:center"><%= t('.other') %></td>
          <% end %>
        <% elsif policy(transaction).edit? %>
          <td style="text-align:center"><%= link_to t('.edit'), edit_transaction_path(transaction), class: "btn btn-primary" %></td>
        <% else %>
          <td style="text-align:center"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to t('.propose_new'), new_transaction_path, class: "btn btn-success" %>

<h3><%= t('.title.accepted') %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= t('activerecord.attributes.transaction.proposed_product') %></th>
      <th><%= t('activerecord.attributes.transaction.proposed_by_user') %></th>
      <th colspan="2"><%= t('activerecord.attributes.transaction.wanted_product') %></th>
      <th><%= t('activerecord.attributes.transaction.accepted_by_user') %></th>
    </tr>
  </thead>

  <tbody>
    <% @accepted_transactions.each do |transaction| %>
      <tr>
        <td style="text-align:right"><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.translated_name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td>
          <%= link_to transaction.proposed_by_user.first_name, user_show_path(transaction.proposed_by_user) %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td style="text-align:right"><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.translated_name %></td>
        <% if transaction.accepted_by_user.first_name %>
          <td><%= transaction.accepted_by_user.first_name %> <%= transaction.accepted_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.accepted_by_user.email %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3><%= t('.title.removed') %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= t('activerecord.attributes.transaction.proposed_product') %></th>
      <th><%= t('activerecord.attributes.transaction.proposed_by_user') %></th>
      <th colspan="2"><%= t('activerecord.attributes.transaction.wanted_product') %></th>
      <th><%= t('activerecord.attributes.transaction.accepted_by_user') %></th>
    </tr>
  </thead>

  <tbody>
    <% @removed_transactions.each do |transaction| %>
      <tr>
        <td style="text-align:right"><%= transaction.proposed_product_quantity %></td>
        <td><%= link_to transaction.proposed_product.translated_name, transaction %></td>
        <% if transaction.proposed_by_user.first_name %>
          <td><%= transaction.proposed_by_user.first_name %> <%= transaction.proposed_by_user.last_name %></td>
        <% else %>
          <td><%= transaction.proposed_by_user.email %></td>
        <% end %>
        <td style="text-align:right"><%= transaction.wanted_product_quantity %></td>
        <td><%= transaction.wanted_product.translated_name %></td>
        <% if transaction.accepted_by_user %>
          <td><%= transaction.accepted_by_user.email %></td>
        <% else %>
          <td>
            <% if policy(transaction).change_status? %>
              <%= link_to t('.propose_again'), change_status_transaction_path(transaction, status: :proposed), method: :patch, class: "btn btn-primary" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
 -->
