<h1>Transaction</h1>

<p>
  <strong>Proposed product:</strong>
  <%= @transaction.proposed_product.name %>
</p>

<p>
  <strong>Proposed product quantity:</strong>
  <%= @transaction.proposed_product_quantity %>
</p>

<p>
  <strong>Proposed by user:</strong>
  <%= @transaction.proposed_by_user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @transaction.address %>
</p>

<p>
  <strong>Wanted product:</strong>
  <%= @transaction.wanted_product.name %>
</p>

<p>
  <strong>Wanted product quantity:</strong>
  <%= @transaction.wanted_product_quantity %>
</p>

<!-- <p> -->
  <!-- <strong>Accepted by user:</strong> -->
  <%# @transaction.accepted_by_user.email %>
<!-- </p> -->

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Transactions', transactions_path %>

<p></p>

<div id="map"></div>

<% content_for :after_js do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @transaction.latitude %>,
              "lng": <%= @transaction.longitude %>,
              // "infowindow": "<h1>Aix - Marseille</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/008/thumbnail/marseille.jpg?1445520529' height='200'></p>"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          handler.getMap().setZoom(15);

          // if (markers.length == 0) {
          //   handler.getMap().setZoom(2);
          // } else if (markers.length == 1) {
          //   handler.getMap().setZoom(15);
          // }

        });
      })
    </script><% end %>
