<% if @transaction.status == "proposed" %>
  <h1>Proposed Transaction</h1>
<% elsif @transaction.status == "accepted" %>
  <h1>Accepted Transaction</h1>
<% elsif @transaction.status == "removed" %>
  <h1>Removed Transaction</h1>
<% else %>
  <h1>Transaction</h1>
<% end %>

<p>
  <strong>Proposed product:</strong>
  <%= @transaction.proposed_product.name %>
</p>

<p>
  <strong>Proposed product quantity:</strong>
  <%= @transaction.proposed_product_quantity %>
</p>

<p>
  <strong>Proposed by user:</strong>
  <%= @transaction.proposed_by_user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @transaction.address %>
</p>

<p>
  <strong>Wanted product:</strong>
  <%= @transaction.wanted_product.name %>
</p>

<p>
  <strong>Wanted product quantity:</strong>
  <%= @transaction.wanted_product_quantity %>
</p>

<% if @transaction.status == 1 %>
  <p>
    <strong>Accepted by user:</strong>
    <%= @transaction.accepted_by_user.email %>
  </p>
<% end %>

<%= link_to 'Transactions', transactions_path, class:"btn btn-success" %>

<% if @transaction.status == "proposed" && @transaction.proposed_by_user.id == current_user.id %>
  <%= link_to 'Edit', edit_transaction_path(@transaction),  class:"btn btn-primary" %>
<% end %>

<% if @transaction.status == "proposed" && @transaction.proposed_by_user.id != current_user.id %>
  <%= link_to 'Accept', change_status_transaction_path(@transaction, status: :accepted), method: :patch, class:"btn btn-primary" %>
<% end %>

<% if @transaction.status != "removed" && @transaction.proposed_by_user.id == current_user.id %>
  <%= link_to 'Remove', change_status_transaction_path(@transaction, status: :removed), method: :patch, class:"btn btn-warning" %>
<% end %>

<% if @transaction.status == "removed" && @transaction.proposed_by_user.id == current_user.id %>
  <%= link_to 'Propose Again', change_status_transaction_path(@transaction, status: :proposed), method: :patch, class:"btn btn-primary" %>
<% end %>


<% if @transaction.status == "removed" && @transaction.proposed_by_user.id == current_user.id%>
  <%= link_to 'Delete Permanently', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>


<div>
  <% @transaction.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fit %>
  <% end %>
</div>
<p></p>

<div id="map"></div>

<% content_for :after_js do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @transaction.latitude %>,
              "lng": <%= @transaction.longitude %>,
              // "infowindow": "<h1>Aix - Marseille</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/008/thumbnail/marseille.jpg?1445520529' height='200'></p>"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          handler.getMap().setZoom(15);

          // if (markers.length == 0) {
          //   handler.getMap().setZoom(2);
          // } else if (markers.length == 1) {
          //   handler.getMap().setZoom(15);
          // }

        });
      })
    </script><% end %>
