<h1>Transaction</h1>

<p>
  <strong>Proposed product:</strong>
  <%= @transaction.proposed_product.name %>
</p>

<p>
  <strong>Proposed product quantity:</strong>
  <%= @transaction.proposed_product_quantity %>
</p>

<p>
  <strong>Proposed by user:</strong>
  <%= @transaction.proposed_by_user.email %>
</p>

<p>
  <strong>Wanted product:</strong>
  <%= @transaction.wanted_product.name %>
</p>

<p>
  <strong>Wanted product quantity:</strong>
  <%= @transaction.wanted_product_quantity %>
</p>

<!-- <p> -->
  <!-- <strong>Accepted by user:</strong> -->
  <%# @transaction.accepted_by_user.email %>
<!-- </p> -->

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Transactions', transactions_path %>
