<% content_for(:title, t('activerecord.models.product.other')) %>
<div class="modify-for-footer">
  <h1><%= t('activerecord.models.product.other') %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.product.name') %></th>
        <th><%= t('activerecord.attributes.product.name_ja') %></th>
        <th><%= t('activerecord.attributes.product.name_da') %></th>
        <th><%= t('activerecord.attributes.product.name_ar') %></th>
        <th><%= t('activerecord.attributes.product.name_fr') %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <% if policy(product).show? %>
            <td style="text-align:center"><%= link_to product.name, product %></td>
          <% end %>
          <td><%= product.name_ja %></td>
          <td><%= product.name_da %></td>
          <td><%= product.name_ar %></td>
          <td><%= product.name_fr %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if policy(Product).new? %>
  <%= link_to t('helpers.submit.product.create'), new_product_path, class: "btn btn-success" %>
<% end %>
<br>
</div>
