<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AirBarter</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <div class="container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          <i class="fa fa-heart"></i> My Team
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

  </body>
</html>
